// Customize the colors of Octoflat Here


$primary-color:      #e69411; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #46AEDE; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #e69411; // Hover-over color, Active Page color
$accent-color1:      #3789AF; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #3789AF; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #333333; // Body Text
$footer-color:       #7F8C8D; // Footer

//#FF9D00 orange
//#3789AF blue
