// Add your custom styling here.

.nav.pull-right li a:hover {
  color: #eee;
}

h5.post-date {
  display: none;
}

li {
  line-height: 1.831;
}

.pagination > a.next {
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}
